{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block body %}

    <link rel="stylesheet" href="{% static 'CSS:comment.css' %}">


<div class="container">
  <!-- Page Heading -->
    <h3 class="my-4">{{product.name}} Detay
  </h3>
        <div class="col-lg-6 mb-4">
      <div class="card h-100">
        {% if product.product_image %}
          <img  class="img-fluid rounded" src="{{product.product_image.url}}" alt="">
        {% else %}
          <img class="card-img-top" src="http://placehold.it/700x400" alt="">
          {% endif %}
        <div class="card-body">
          <h4 class="card-title">
              {{product.name}}
          </h4>
            <p class="card-text"> {{product.description}}</p>
            <p class="card-date" > {{product.create_date}} </p>
            <p class="card-text">{{product.owner}}</p>
        </div>
      </div>
    </div>
</div>

    <h3>Yorumlar</h3> <hr>

{% if comment_list %}
    {% for comment in comment_list  %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
              <h5 class="mt-0">{{comment.sender}}</h5>
              {{comment.comment}} <br>
              {{comment.date}}

          </div>
        </div>
      {% endfor %}


      {% else %}
      <div class ="alert alert-primary">
        Bu makaleye herhangi bir yorum yazılmamış,ilk yorum yapan siz olun!
      </div>
      {% endif %}

      <div class="card my-4">
          <h5 class="card-header">Yorum Ekle:</h5>
          <div class="card-body">
            <form method = "post" action = "{% url 'comment:comments' product.id %}">
              {% csrf_token %}
              <div class="form-group">
                  <label >Yorum</label>
                <textarea name = "comment" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
          </div>
        </div>
        </div>

      </div>


{% endblock body %}
